a {
  &:hover {
    text-decoration: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-content: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-content: dark;
  }

  body {
    color: $dark-main-color;
    background: $dark-background-color;
  }
}
