// 选中主调色
$primary-active-color: #1abc9c !default;

// 选中主调背景色
$primary-active-background-color: rgba(26, 186, 154, 0.05) !default;

// 非重点色
$no-focus-color: #92a3ab !default;

// 背景主色
$background-color: #fff !default;

// 字体主色
$main-color: rgba(33, 37, 41, 1) !default;

// 黑暗模式 - 主背景色
$dark-background-color: #191b1f !default;

// 黑暗模式 - 字体主调色
$dark-main-color: rgba(255, 255, 255, .5) !default;

// 黑暗模式 - 鼠标悬浮字体主调色
$dark-main-hover-color: rgba(255, 255, 255, .8) !default;
