.main-footer {
  padding: 3rem 0 2rem;

  .main-footer-copyright {
    p {
      margin-bottom: 0;
      font-size: 0.8125rem;
      font-weight: 600;
      line-height: 1.375rem;

      a {
        color: #b9b8b3;
      }
    }
  }

  .main-footer-meta {
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.375rem;
    color: #b9b8b3;
  }

  .main-footer-audit {
    p {
      margin-bottom: 0;
      font-size: 0.8125rem;
      font-weight: 600;
      line-height: 1.375rem;

      a {
        color: #b9b8b3;
      }
    }
  }
}
